
/**/

.dump-pre{
  background: #fff;
  color: #333;
}

.test-ul{
  list-style: none;
  width: 300px;
  text-align: center;
}
.test-ul img{
  width: 200px;
  padding: 10px;
}

.test1{
  width: 300px;
  border: 1px solid #999;
  padding: 20px;
  text-align: center;
}

/**/


/* header */

.header-top-content{
  height: 35px;
  padding: 0px 0 0 15px;
  background: #353535;
}
.site-info-block{
  float: left;
  margin-top: 3px;
}
.site-info-block a{
  color: #fafafa;
  padding: 3px 5px;
}

/* ___ border hover animation ___*/

/*.site-info-block .info-email:after,
.site-info-block .info-phone:after{
  display:block;
  content: '';
  border-bottom: 1px solid #fff;  
  transform: scaleX(0);  
  transition: transform 70ms ease-in-out;
}
.site-info-block .info-email:hover:after,
.site-info-block .info-phone:hover:after{
  transform: scaleX(1);
}*/

.site-info-block a:hover{
  border-bottom: 1px solid #fff;
}

.site-info-block .info-email,
.site-info-block .info-phone{
  display: inline-block;
  margin-right: 15px;
}
.site-info-block a:focus{
  outline: 1px solid #fff;
  border-bottom: 1px solid transparent;
}
.search-top-block{
  float: right;
}
.search-top-block .table-div{
  display: inline-block;
  vertical-align: top;
}
.search-top-block .widget_product_search{
  display: inline-block;
}
.search-top-block form{
  margin: 0;
}
.search-top-block .search-field{
  border: 0;
  box-shadow: none;
  border-radius: 0;
  padding: 4px 7px;
  width: 250px;
  background: #dedede;
  height: 35px;
}
.search-top-block form input[type="search"]:focus{
  background: #f5f5f5;
}
.search-top-block form{
  text-align: right;
}
.search-top-block button.search-button{
  color: #fafafa;
  padding: 9px 10px;
  background: transparent;
  border: none;
  box-shadow: none;
  text-align: center;
}
.search-top-block button.search-button:hover,
.search-top-block button.search-button:focus{
  background: #444;
}
.search-top-block .widget_product_search i.search-button{
  padding: 7px 10px;
}
.search-top-block .widget_product_search i.search-button:hover{
  cursor: pointer;
}

.site-info-line{
  margin-bottom: 10px;
}
.site-info-line i.fa{
  font-weight: 700;
}
.site-info-line a{
  font-weight: 400;
}

.header-right-content{
  float: right;
  display: inline-block;
}
.header-right-content .info-email{
  display: inline-block;
  margin-right: 20px;
}
.header-right-content .info-phone{
  display: inline-block;
  margin-right: 20px;
}
.header-right-content .widget_product_search{
  display: inline-block;
  width: 250px;
}
.header-right-content .woocommerce-product-search{
  margin: 0;
}

.header-right-content .widget_product_search form input[type="search"]{
  padding: 3px 7px;
  width: 200px;
  background: #fafafa;
  border: 1px solid #ddd;
  box-shadow: none;
}
.header-right-content .widget_product_search form input[type="search"]:focus{
  background: #fff;
}

.header-right-content .widget_product_search button.search-button{
  padding: 9px 10px;
  background: transparent;
  border: none;
  color: #444;
  box-shadow: none;
}

.header-right-content .widget_product_search i.search-button{
  padding: 7px 10px;
}
.header-right-content .widget_product_search i.search-button:hover{
  cursor: pointer;
}


/* content */

.page-title{
  font-family: Felipa;
  text-align: center;
  font-size: 32px;
  color: #33ab53;
  margin: 5px auto;
}
.related-title{
  font-family: Felipa;
  color: #56a56b;
}

.tax-product_cat .products .product,
.search-results .products .product{
  text-align: left;
  clear: both;
}
.site-main ul.products li.product a,
.tax-product_cat .products .product .product-image a,
.search-results .products .product .product-image a{
  display: inline-block;
}
.site-main ul.products li.product .category-image a,
.tax-product_cat .products .product .product-image a,
.search-results .products .product .product-image a{
  line-height: 0;
}
.tax-product_cat .products .product .product-image,
.search-results .products .product .product-image{
  float: left;
  width: 21%;
  line-height: 0;
  margin-bottom: 35px;
}
.tax-product_cat .products .product a img,
.search-results .products .product a img{
  width: 100%;
  border: 1px solid #aaa;
  padding: 15px;
}
.tax-product_cat .products .product a img:hover,
.search-results .products .product a img:hover{
  -webkit-box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
  box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
}

.tax-product_cat .products .product .product-summary,
.search-results .products .product .product-summary{
  float: left;
  padding-left: 30px;
  width: 79%;
}

.tax-product_cat .products .product .product-link{
  margin-bottom: 10px;
}
.tax-product_cat .products .product .product-link .title,
.search-results .products .product  .product-link .title{
  display: inline-block;
  font-size: 1.5em;
  margin: 0px;
  font-weight: 700;
}

.tax-product_cat .products .product .product-link a,
.search-results .products .product .product-link a{
  color: #8a8;
}
.tax-product_cat .products .product .product-link a:hover,
.search-results .products .product .product-link a:hover{
  text-decoration: underline;
  color: #76ad76;
}
.tax-product_cat .products .product .product-description,
.search-results .products .product .product-description{
  font-size: 1.1em;
  line-height: 1.3;
}
.product .product-price{
  font-weight: 700;
  color: #99d;
}
.tax-product_cat .products .product .product-price,
.single-product .product .product-price{
  font-size: 1.2em;
}

.search-results .products .product .product-link a{
  font-size: 22px;
}
.search-results .product-category a,
.search-results .products .product .product-description{
  font-size: 16px;
}
.search-results .product-category{
  margin-bottom: 10px;
}

.images .main-image{
  line-height: 0;
  border: 1px solid #bbb;
}

.single-product div.product .summary{
  margin-top: 0;
}



.product_title{
  margin-bottom: 0px;
  font-size: 2em;
}
.product_title a{
  color: #555;
}
.product_title a:hover{
  color: #333;
  text-decoration: underline;
}


/* pages */

.page .entry-title{
  font-family: Felipa;
  text-align: center;
  font-size: 32px;
  color: #33ab53;
  margin: 5px auto;
}

.brands {
  margin-top: 30px;
  text-align: center;
}
.product-brand {
  display: inline-block;
  padding: 10px;
  width: 220px;
  margin: 10px 20px;
}
.product-brand img{
  padding: 20px;
}


/* footer */

.footer-block {
  width: 30%;
  margin-right: 3%;
  float: left;
}
.footer-block.last {
  margin-right: 0;
}

.site-footer .footer-categories-list {
  list-style: none;
  margin: 0;
  
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}
.site-footer .footer-categories-list a:hover{
  text-decoration: underline;
}

.block-title{
  margin-bottom: 5px;
}
.site-footer .about-text{
  line-height: 1.4em;
}
.site-footer #signup-email {
  display: block;
  background: #fff;
  width: 85%;
  padding: 4px 10px;
  margin-bottom: 10px;
  height: 35px;
}
.site-footer #signup-email::-webkit-input-placeholder{
  font-style: italic;
}
.site-footer #signup-email:-moz-placeholder{
  font-style: italic;
}
.site-footer #signup-email:-ms-input-placeholder{
  font-style: italic;
}
.site-footer #signup-submit {
  text-transform: uppercase;
  padding: 4px 14px;
  min-width: 95px;
}
.site-footer #signup-submit:focus{
  background: #565862;
}
.site-footer #signup-submit .fa{
  font-size: 8px;
  padding: 0 3px;
  bottom: 2px;
  position: relative;
}
.site-footer .signup-message{
  margin-top: 10px;
}
