
@font-face {
    font-family: 'Asul';
    src: url('../fonts/Asul/Asul-Regular.eot');
    src: url('../fonts/Asul/Asul-Regular.eot?iefix') format('opentype'),
         url('../fonts/Asul/Asul-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: Poppins;
  src: url('../fonts/Poppins/Poppins-Regular.eot');
  src: url('../fonts/Poppins/Poppins-Regular.eot?iefix') format('opentype'),
       url('../fonts/Poppins/Poppins-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Felipa;
  src: url('../fonts/Felipa/Felipa-Regular.eot');
  src: url('../fonts/Felipa/Felipa-Regular.eot?iefix') format('opentype'),
       url('../fonts/Felipa/Felipa-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Asul;
  src: url('../fonts/Asul/Asul-Regular.eot');
  src: url('../fonts/Asul/Asul-Regular.eot?iefix') format('opentype'),
       url('../fonts/Asul/Asul-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Asul;
  src: url('../fonts/Asul/Asul-Bold.eot');
  src: url('../fonts/Asul/Asul-Bold.eot?iefix') format('opentype'),
       url('../fonts/Asul/Asul-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
