
.lb-data .lb-fullsize{
  display: block;
  float: right;
  width: 30px;
  height: 30px;
  background: url(../images/lightbox/fullsize.png) top right no-repeat;
  text-align: right;
  outline: none;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  transition: opacity 0.2s;
  
  margin-right: 10px;
}

.lb-data .lb-fullsize:hover {
  cursor: pointer;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
